footer{
    margin-top:120px;
    margin-bottom:0px;
    bottom:0px;
}

#footer{
margin-bottom:0px;
height: 300px;
border-top: solid 1px black;
display:flex;
align-items: center;
list-style: none;
text-align:center;
color:white;
background-color:black;
font-family: 'Poppins', sans-serif;
bottom:0;
}

footer ul{
    list-style:none;
}
#logo_footer{
    
    margin-left: 100px;
    font-size:20px;
}



#text_footer{
    width:50%;
    margin-top:20px;
    display:flex;
    justify-content: space-around;
    margin-left:50%;
    
}

#text_footer a{
    color:white;

}

.heading{
 font-weight: bolder; 
 margin-bottom: 10px;  
}