*{
    margin:0;
    padding:0;
}
body,html{
    height:100%;
    width:100%;
    overflow-x: hidden;
}


#navigation_bar{

width:100%;
height:10%;
color: white;
box-sizing: border-box;
background-color: white;
border-bottom:solid 0.1px gray;


}

#navigation_bar ul{
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;
}

#tools{
    display: flex;
    justify-content: space-around;
}


#navigation_bar .features{
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    font-family: 'Poppins', sans-serif;
}

#navigation_bar a{
    text-decoration:none;
    color: black ;
}


#tools a:hover{

    background-color: darkgray;
    color:white;
    transition: 0.5s ease-in;
}
#loginicon{
    width:30px;
    height:30px;
    margin-top:14px;
    margin-bottom:30px;
    justify-content: center;
}


#logo li{
    font-weight: bold;
    font-size: 30px;
}
#timebar_container{

    margin-top:50px;
    margin-bottom:50px;
}

article{
    padding-top:100px;
}

#logincontainer{
    text-align:center;
}
#logincontainer form{
    height:100px;
}
#inputcontainer{
    margin-top:50px;
    height: 60%;
}
#inputcontainer input{
    width:30%;
}
#inputcontainer input
.textfield{
    text-align: center;
}

#inputcontainer label{
    margin-bottom: 10px;
    margin-top:10px;
}
#loginbutton{
    margin-top: 7%;
}
footer{
    margin-top:120px;
    margin-bottom:0px;;
}

#footer{
margin-bottom:0px;
height: 300px;
border-top: solid 1px black;
display:flex;
align-items: center;
list-style: none;
text-align:center;
color:white;
background-color:black;
font-family: 'Poppins', sans-serif;
bottom:0;
}

footer ul{
    list-style:none;
}

#logo_footer{
    
    margin-left: 100px;
    font-size:20px;
}

#text_footer{
    width:50%;
    margin-top:20px;
    display:flex;
    justify-content: space-around;
    margin-left:50%;
    
}

#text_footer a{
    color:white;

}

.heading{
 font-weight: bolder; 
 margin-bottom: 10px;  
}

.tools{
    padding-top:200px;
    width:100%;
    height:100%;
    
}
.tools h2{
    margin: bottom 20px;
    text-align:center;
    align-items:center;
    
}


.dropzone {
    margin-left:20%;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    border: 3px dashed #eeeeee;
    background-color: #fafafa;
    color: #bdbdbd;
    cursor: pointer;
    margin-bottom: 20px;
    width:60%
  }
  .dropzone p{
  margin-bottom: 70px;
  }
  
  .selected-file-wrapper {
    text-align: center;
  }
  
  .selected-file {
    color: #000;
    font-weight: bold;
  }
  
  
  .alert.alert-light{
   text-align:center;
  }
  #main_information{

    padding-top: 10%;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
   }
   
   
   #article1{
       width:100%;
       height:100%;
       padding-left:20px;
       display:flex;
   }
   
   
   
   #article1 h1{
       font-size: 50px;
      
   }
   
   #article1 p{
       font-size:20px;
       margin-bottom: 40px;
   }
   
   #article1 a{
       border: solid 2px blue;
       border-radius: 5px;
       background-color:white;
       color: blue;
       font-size: 15px;
       text-decoration: none;
       margin-top:50px;
       padding: 10px;
       font-weight: bold;
   }
   
   
   #article1 a:hover{
       background-color: blue;
       color: white;
       transition: 0.5s ease-in;
       
   }
   
   .text {
       margin-top:60px;
       width:50%;
   }
   
   #article2{
       margin-top:5%; 
       width:100%;
       height: 100%;
       text-align: center;
       margin-bottom:100px;
   }
   
   #article2 p{
   
   
       font-size:17px;
   
   }
   
   
   #article2 ul{
       display:flex;
       justify-content: space-around;
       list-style:none;
       margin-top:50px;
   }
   
   
   #article2 li{

   border-radius: 5px;
   padding: 5px;
   margin-right:15px;
   margin-left:15px;
   text-align:left;
   width:18%;
   
   
   }
   
   
   #article2 a{
       text-decoration :none;
       color:black;
   
   }
   
   
   #article2 li:hover{
        box-shadow:  0 1px 4px rgba(0, 0, 0, 0.3);
       background-color: rgb(194, 194, 194);
       transition:0.3s ease-in;
   }
   
   #article2 h2{
       font-weight: bold;
       font-size:18px;
   }
   #article li p{
       margin-top:20px;
   }
   
   
   #article2 h1{
       font-size:50px;
       font-weight:bold;
   }
   
   
   